Repository Battlecats59/SSArchipelago, pull requests merged in 2025-07, with the labels that each got.

#19 Shuffle batreaux counts
  worlds/ss/Constants.py
  worlds/ss/Hints.py
  worlds/ss/Locations.py
  worlds/ss/Options.py
  worlds/ss/Rules.py
  worlds/ss/__init__.py
  worlds/ss/logic/Macros.py
  worlds/ss/logic/requirements/Skyloft.py
  worlds/ss/logic/requirements_json/Base_Macros.json
  worlds/ss/logic/requirements_json/Skyloft.json
  worlds/ss/rando/DungeonRando.py
  worlds/ss/rando/HintPlacement.py
  worlds/ss/rando/ItemPlacement.py
  worlds/ss/rando/MiscRando.py
Labels: enhancement, bug fix, requires patcher update, needs testing

#26 SS: Fix demise being unreachable
  worlds/ss/__init__.py
Labels: bug fix

#21 Forward certain client messages to appear in-game
  worlds/ss/SSClient.py
  worlds/ss/SSClientUtils.py
Labels: enhancement, requires patcher update, needs testing
