Repository Battlecats59/SSArchipelago, pull requests merged in 2025-03, with the labels that each got.

#13 Fix updraft item duplication and possibly fix song hint spam in client?
  worlds/ss/Constants.py
  worlds/ss/SSClient.py
Labels: bug fix

#10 Add a regression test for trial entrance logic bug
  worlds/ss/test/TestAccess.py
  worlds/ss/test/__init__.py
Labels: enhancement

#16 Shuffled batreaux counts
  worlds/ss/Constants.py
  worlds/ss/Locations.py
  worlds/ss/Options.py
  worlds/ss/Rules.py
  worlds/ss/__init__.py
  worlds/ss/logic/Macros.py
  worlds/ss/logic/requirements/Skyloft.py
  worlds/ss/logic/requirements_json/Base_Macros.json
  worlds/ss/logic/requirements_json/Skyloft.json
  worlds/ss/rando/HintPlacement.py
  worlds/ss/rando/ItemPlacement.py
  worlds/ss/rando/MiscRando.py
Labels: enhancement, requires patcher update, needs testing
